#HuddleHUD {
  --fg: #fff;
  --bg: #000;
  --fg-transparent: #fff6;
  --md: 20px;
  --lg: calc(2 * var(--md));
  --sm: calc(var(--md) / 2);
  font: mono;

  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: var(--md);
  left: var(--md);
  padding: var(--md);
  background: var(--bg);
  color: var(--fg);
  font-size: var(--md);
  font-family: var(font);
  line-height: var(--lg);
  max-height: calc(100vh - 2 * var(--lg));
  min-width: 33vw;
  max-width: calc(100vw - 2 * var(--lg));
}

#HuddleHUD ::-webkit-scrollbar {
  height: 3px;
  width: 3px;
  background: transparent;
}

#HuddleHUD ::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background: var(--fg-transparent);
}

#HuddleHUD li {
  display: flex;
  flex-direction: column;
}

#HuddleHUD ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  overflow-x: none;
  overflow-y: auto;
  overflow-y: overlay;
  margin: 0;
  padding: 0;
}

#HuddleHUD input {
  display: flex;
  flex-direction: column;
  background: transparent;
  color: var(--fg);
  border: none;
  border-bottom: 1px solid transparent;
  font-size: var(--md);
  font-family: var(font);
  border-bottom: 1px solid var(--fg);
}

#HuddleHUD input:focus {
  outline: none;
}
